---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "个人中心",
  description = "个人网站中心页面",
} = Astro.props;
---

<!doctype html>
<html lang="zh-CN" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    height: 100%;
    margin: 0;
  }
</style>
